<app-bread-crumbs></app-bread-crumbs>
<div class="container">
    @if(loading){
            <app-loader></app-loader>
    } @else if(errorTitle) {
        <h1 class="main-title">{{ errorTitle }}</h1>
        <p>Перейдите в <a href="/catalog">каталог товаров</a> или попробуйте позже.</p>
    } @else if(groupEntity) {
        <div class="container-categories">
            <h1 class="main-title">{{ groupEntity.category.seo.h1 || groupEntity.category.name }}</h1>
            <app-product-line [productList]="groupEntity.products"></app-product-line>
        </div>
    }
</div>
