.container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    &-wrap{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &-load{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}