<div class="container">
    <div class="container__wrap">
        <div class="container-menu">
            <span>
                {{ '8 (983) 207 06 99' }}
            </span>
            
            <div class="container-menu__rout" id="main-menu">
                <ng-container *ngFor="let item of linkArr">
                    <a class="container-menu__rout-item" [routerLink]="item.link" routerLinkActive="active">{{ item.name }}</a>
                </ng-container>
            </div>
            
            <button class="default-button">
                ЗАДАТЬ ВОПРОС
            </button>
            
            <button class="menu-btn" (click)="toggleMenu()">
                <svg-icon src="assets/images/menu.svg"></svg-icon>
            </button>
        </div>

        <div class="mobile-menu__overlay" (click)="closeMenu()"></div>
        
        <div class="mobile-menu" [class.active]="isMenuOpen">
            <div class="mobile-menu__content">
                <button class="mobile-menu__close" (click)="closeMenu()">
                    <svg-icon src="assets/images/close.svg"></svg-icon>
                </button>
                
                <div class="mobile-menu__items">
                    <ng-container *ngFor="let item of linkArr">
                        <a class="mobile-menu__item" [routerLink]="item.link" 
                        routerLinkActive="active" (click)="closeMenu()">
                        {{ item.name }}
                        </a>
                    </ng-container>
                </div>
                
                <button class="mobile-menu__button default-button hide">
                    ЗАДАТЬ ВОПРОС
                </button>
            </div>
        </div>
        <div class="container-menu">
            <a routerLink="catalog">
                <svg-icon src="assets\images\logo.svg"></svg-icon>
            </a>
            <button class="default-button" routerLink="catalog">
                <svg-icon src="assets/images/catalog.svg"></svg-icon>
                <span>КАТАЛОГ</span>
            </button>
            <div class="container-search">
                <input class="container-search__input" type="text" placeholder="ПОИСК">
            </div>
        </div>
    </div>  
</div>