<app-bread-crumbs></app-bread-crumbs>
<div class="container">
    <h2 class="main-title">Наши контакты</h2>
    <div class="container-wrap">
        <div class="container-section"> 
            @for(address of information.address; track address){
                <div class="container-section__item">
                    <span class="container-section__item-title">{{ address.title }}</span>
                    @for(descr of address.description; track descr){
                        <span >{{ descr }}</span>
                    }
                </div>
            }
        </div>
        <div class="container-section">
            @for(requisite of information.requisite; track requisite){
                <div class="container-section__item">
                    <span class="container-section__item-title">{{ requisite.title }}</span>
                    <span>{{ requisite.value }}</span>
                </div>
            }
        </div>
        <div class="container-form">
            <span class="container-section__item-title">Напишите нам</span>
            <div class="container-form__wrap">
                <input type="text" placeholder="Имя">
                <input type="text" placeholder="Email">
                <textarea name="" id="" rows="4"></textarea>
            </div>
            <span class="container-form__description">Нажимая на кнопку, вы подтверждаете своё согласие
            на обработку персональных данных и ознакомление с
            политикой конфиденциальности</span>
            <button class="default-button">Отправить</button>
        </div>
    </div>
</div>