<app-bread-crumbs></app-bread-crumbs>
<div class="container">
    <h2 class="main-title">О компании</h2>

    <div>
        <h3>Компания "Теплоизоляция Новосибирск" основана в 2007 году
            и уже 15 лет является одним из успешных игроков рынка строительных материалов в России.</h3>
        <span>Основное направление деятельности - теплоизоляционные материалы. В нашем арсенале полное представление комплексных решений для повышения энергоэффективности инженерных сетей. Наши поставщики оснащены современным высокотехнологичным оборудованием, поэтому клиенты могут быть всегда уверены в качестве продукции и услуг компании.</span>
    </div>

    <div>
        <h3>Мы поставляем широкий спектр качественных теплоизоляционных материалов:</h3>
        <ul>
            <li>минераловатные цилиндры и маты ENERGOROLL,</li>
            <li>трубная изоляция из пенополиэтилена ТИЛИТ,</li>
            <li>отражающая изоляция ПЕНОФОЛ,</li>
            <li>фольгированные покрытия ОЛЕФОЛ и АРМОФОЛ, покрывной слой ТИТАНФЛЕКС.</li>
            <li>трубки и рулоны из вспененного синтетического каучука K-FLEX,</li>
            <li>огнезащитные материалы ROCKWOLL.</li>
        </ul>
        <span>Вся продукция компании сертифицирована и безопасна в использовании.</span>
    </div>

    <div>
        <h3>Мы поставляем широкий спектр качественных теплоизоляционных материалов:</h3>
        <ul>
            <li>системы отопления, водоснабжения, канализации, вентиляции, кондиционирования; изоляция;</li>
            <li>технологических емкостей и трубопроводов различного назначения;</li>
            <li>индивидуальное, промышленное, гражданское строительство;</li>
            <li>ремонт и реконструкция зданий и сооружений.</li>
        </ul>
    </div>

    <div>
        <h3>Мы предлагаем:</h3>
        <ul>
            <li>консультации и рекомендации по применению теплоизоляционных материалов;</li>
            <li>широкий ассортимент качественных сертифицированых товаров;</li>
            <li>индивидуальные коммерческие условия;</li>
            <li>наличие товара в городах присутствия компании;</li>
            <li>логистические решения доставки товаров по России, Белоруссии и Казахстану.</li>
        </ul>
    </div>

</div>