.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 18px 18px;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    align-items: center;
    height: 395px;
    animation: fadeIn 0.5s ease-in-out forwards;

    &-img{
        object-fit: contain;
        width: 212px;
        height: 297px;
    }
    &-name{
        text-align: center;
        margin: 12px 0;
    }
    
    & > span{
        font-weight: 600;
    }
}