<div class="container">
    <img class="img" [src]="(environment.baseUrl + newsFields.media) || 'assets/images/no-image2.png'" alt="">
    <div class="container-entity">
        <div class="container-entity__textfields">
            <span class="container-entity__textfields-title">
                {{ newsFields.title }}
            </span>
            <span class="container-entity__textfields-text" [innerHTML]="newsFields.content | safeHtml:true">
                <!-- {{ newsFields.content }} -->
            </span>
        </div>
        <div class="container-entity__meta">
            <span>{{ convertDate(newsFields.published_at) }}</span>
            <button [routerLink]="'/lambda/news/' + newsFields.slug">подробнее</button>
        </div>
    </div>
</div>