.container{
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    gap: 12px;
    animation: fadeIn 0.5s ease-in-out forwards;
    
    &-img{
        height: 65px;
        width: 212px;
    }
    & > span{
        font-weight: 600;
    }
}

.contain{
    object-fit: contain;
}

.cover{
    object-fit: contain;
}