@import './custom-theme.scss';
@import url('./assets/global-styles/buttons.scss');
@import url('./assets/global-styles/fonts.scss');

*{
  box-sizing: border-box;
}


html, body {
  margin: 0;
  background-color: #ebe8e8;
  box-sizing: border-box;
}

:root {
  scrollbar-gutter: stable; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
