.default-button{
    background-color: #FCDA00;
    color: #333333;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    justify-content: center;
    text-decoration: none;
    
    transition: all 0.3s ease;
    
    &:hover {
        opacity: 0.9;
        background-color: #212121;
        color: #ffffff;
        
        svg-icon {
            svg {
                fill: #ffffff;
                
                path {
                    fill: #ffffff;
                }
            }
        }
    }
    
    &:disabled{
        opacity: 0.5;
        cursor: default;
    }
}
