<div class="container">
    <app-slider
        [slides]="sliderSlides" 
        [backgroundImage]="'assets/images/slider-back.png'"
        [autoPlay]="true"
        [autoPlayInterval]="8000"
    ></app-slider>


    <div class="container-news">
        <h2>ПОСЛЕДНИЕ НОВОСТИ</h2>
        @for(item of newsList; track newsList){
            <div class="container-news__item">
                <span>{{ convertDate(item.published_at) }}</span>
                <span>{{ item.title }}</span>
            </div>
        }
        <a class="container-news__more" routerLink="/lambda/news">
            Все новости ->
        </a>
    </div>
</div>