<div class="container">
    <div class="container-slider">
        <img class="container-slider__img" src="assets/images/slider-back.png" alt="">
    </div>

    <div class="container-news">
        <h2>ПОСЛЕДНИЕ НОВОСТИ</h2>
        @for(item of newsList; track newsList){
            <div class="container-news__item">
                <span>{{ convertDate(item.published_at) }}</span>
                <span>{{ item.title }}</span>
            </div>
        }
        <a class="container-news__more" routerLink="/main/news">
            Все новости ->
        </a>
    </div>
</div>