.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;

    @media screen and (max-width: 1140px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 615px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

